@media only screen and (min-width: 200px) {
    .page-content {
        display: flex;
    align-items: flex-start;
    justify-content: center;
    /* align-items: center; */
    flex-direction: column;
    }

    .self-image{
        width: 100%;
    }

    .btn-formatting {
        color: black;
        display: inline-flex;
        background-color: white;
        border-radius: 3px;
        text-decoration: none !important;
        /* width: 155px; */
        justify-content: center;
        border: 0px;
        font-size:small
    }

    .h1-style{
        font-weight: 400;
        /* letter-spacing: 1px; */
        /* border-bottom: 1px solid black; */
    }

    .main-content{
        /* padding-top: 30px;
        height: 600px; 
        margin-right: -75px */
        display: flex;
        align-items:flex-start;
        flex-direction: column;
        /* font-size: larger; */
    }

    #form-content{
        display: inline-grid;
        border-radius: 3px;
        background-color: #3d552440;
        padding: 20px;
        margin:10px;
        height: auto
    }

    #contact-me-header{
        border: 0px;
        font-size: small;
    }
    
    .field-label{
        float:left;
        margin-top: 20px;
        font-size: x-small;
    }
    
    .field-input{
        float: right;
        border-radius: 3px;
        padding: 7px;
        margin: 10px;
        width: 50%;
        /* height: 50px; */
        border: 1px solid white;
        /* font-size: xx-large; */
    }
    
    .field-row{
        border-bottom: 1px solid black;
    }

}
    
    body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* font-family: system-ui; */
    /* background-image: url(../images/pelster_custom_background.png); */
    background-size: 100%;
    width: 100%;
    border-radius: 5px;
    font-family: "Helvetica Neue", "Arial", sans-serif;
    font-weight: 100;
    letter-spacing: 3px;

    
}

/****** classes ******/

/* page layout */


@media only screen and (min-width: 961px) {
    .page-content {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: row;
        width: 95%;
        height: 100%;
        font-size: xx-large;
    }

    .self-image{
        width: 50%;
    }
    /* button formats */

    .btn-formatting {
        color: black;
        display: inline-flex;
        background-color: white;
        padding: 20px;
        border-radius: 3px;
        text-decoration: none !important;
        /* width: 155px; */
        justify-content: center;
        border: 0px;
        height: 50px;
        font-size:xx-large
    }

    .h1-style{
        font-weight: 400;
        /* letter-spacing: 1px; */
        /* border-bottom: 1px solid black; */
    }

    .main-content{
        width: 50%;
        padding: 10px;
        /* padding-top: 30px;
        height: 600px; 
        margin-right: -75px */
        display: flex;
        align-items:flex-start;
        flex-direction: column;
        font-size: larger;
    }

    .main-paragraph{
        width: 70%;
        padding-left: 50px;
        font-size: x-large
    }

    #form-content{
        width: 40%;
        display: inline-grid;
        border-radius: 3px;
        background-color: #3d552440;
        padding: 20px;
        height: auto
    }

    #contact-me-header{
        border: 0px;
        font-size: xx-large
    }
    
    .field-label{
        float:left;
        margin-top: 25px;
        font-size: xx-large;
    }
    
    .field-input{
        float: right;
        border-radius: 3px;
        padding: 7px;
        margin: 10px;
        width: 50%;
        height: 50px;
        border: 1px solid white;
        font-size: xx-large;
    }
    
    .field-row{
        border-bottom: 1px solid black;
        min-height: 100px
    }
  }


.page-nav-ribbon{
    background-color: white;
    padding: 5px;
    border-radius: 3px;
    /* width: max-content; */
    width: 100%;
    /* max-height: 300px; */
    height:20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}

.name-nav-ribbon{
    text-align: center;
    margin: auto;
    width: 100%;
    height:70%;
    font-size:xx-large
}


.nav-name{
    /* height: 50%; */
    width: 40%;
}


#about-me-images{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.btn-formatting:hover {
    cursor: pointer;
    /* box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1), 4px 0 0 0 rgba(0, 0, 0, 0.1); */
    color: rgb(62, 88, 14)
}

/* polaroid */

.personal-photo {
    margin:5px;
    width: 30%;
    height: 30%;
}

.polaroid-words{
    margin-top:-5px; 
    margin-bottom:-5px
}

.polaroid {
    /* transform: rotate(-10deg);
    width: 400px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}

/****** header styles ******/



.h2-style{
    font-weight: 300;
    letter-spacing: 1px; 
}

.h3-style{
    font-weight: 200; 
    letter-spacing: 1px
}

.ul-style{
    font-family:system-ui;
    letter-spacing: 1px
}

/****** contact form ******/





#contact-content{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#user-message{
    max-width: 50%;
    min-height: 50px;
    height:fit-content;
    resize: vertical;

}

#submit-form-div{
    display: flex;
    justify-content: center;
    margin: 10px;
}

.form-error {
    color: red;
    display: none;
    width: 95%;
    font-size: smaller;
    display: none;
    text-align: right;
}

#email-error{
    width: 73%;
}

#req-fields-note{
    font-size: smaller
}

#submit-form-btn{
    width: 115px;
    font: inherit;
}

/****** home (index) page ******/





#home-page-content{
    /* width: 1000px; */
    width: 95%;
    height: 100%;
    font-size: xx-large;
}

#home-intro-paragraph{
    font-size: larger;
}

#home-polaroid-div{
    padding: 30px; 
    margin-right: 75px; 
    margin-bottom: 50px;
    margin-top: 25px;
}

/****** aboutMe page  ******/

#aboutMe-main-content {
    /* height: 900px;  */
    width: 400px;
    /* margin-right: -75px; */
    padding: 10px;
    padding-top: 30px;
}

#aboutMe-column{
    width: 500px;
}

#aboutMe-polaroid{
    padding: 30px; 
    margin-right: 75px;
}

#aboutMe-selfImage{
    margin-top: -300px;
}