.page-content {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    border-bottom: 1px solid black;
}

.btn-formatting {
    color: black;
    display: inline-flex;
    background-color: white;
    padding: 6px;
    border-radius: 3px;
    text-decoration: none !important;
    width: 155px;
    justify-content: center;
    border: 0px;
}

.btn-formatting:hover {
    cursor: pointer;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1), 0 6px 6px 0 rgba(0, 0, 0, 0.1);
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: system-ui;
    background-image: url(../images/pelster_custom_background.png);
    background-size: 100%;
    width: 100%;
    border-radius: 5px;
}

.page-nav-ribbon{
    background-color: white;
    padding: 5px;
    border-radius: 3px;
    width: max-content;
}

.personal-photo {
    padding: 5px;
}

.polaroid-words{
    margin-top:-5px; 
    margin-bottom:-5px
}

/****** header styles ******/

.h1-style{
    font-weight: 400;
    letter-spacing: 1px;
    border-bottom: 1px solid black;
}

.h2-style{
    font-weight: 300;
    letter-spacing: 1px; 
}

.h3-style{
    font-weight: 200; 
    letter-spacing: 1px
}

.ul-style{
    font-family:system-ui;
    letter-spacing: 1px
}

/****** contact form ******/

#contact-me-header{
    border: 0px;
}

.field-label{
    float:left;
    margin-top: 15px;
}

.field-input{
    float: right;
    border-radius: 3px;
    padding: 7px;
    margin: 10px;
    width: 200px;
    border: 1px solid white;
}

.field-row{
    border-bottom: 1px solid black;
}

#form-content{
    width: 550px;
    display: inline-grid;
    border-radius: 3px;
    background-color: #ffffff40;;
    padding: 20px;
}

#contact-content{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#user_message{
    max-width: 200px;
    height:fit-content;
    resize: vertical;
}

#submit-form-div{
    display: flex;
    justify-content: center;
    margin: 10px;
}

.form-error {
    color: red;
    display: none;
    width: 95%;
    font-size: smaller;
    display: none;
    text-align: right;
}

#email-error{
    width: 73%;
}

#req-fields-note{
    font-size: smaller
}

#submit-form-btn{
    width: 115px;
}

/****** home (index) page ******/

#home-main-content{
    width: 400px;
    padding: 10px;
    padding-top: 30px;
    height: 600px; 
    margin-right: -75px
}

#home-page-content{
    width: 1000px;
}

#home-intro-paragraph{
    font-size: medium;
}

#home-polaroid {
    transform: rotate(-10deg);
    width: 400px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#home-polaroid-div{
    padding: 30px; 
    margin-right: 75px; 
    margin-bottom: 50px;
    margin-top: 25px;
}




/****** aboutMe page  ******/

#aboutMe-main-content {
    width: 400px;
    padding: 10px;
    padding-top: 30px;
}

#aboutMe-column{
    width: 585px;
}

#aboutMe-polaroid{
    padding: 30px; 
    margin-right: 50px;
}

#aboutMe-selfImage{
    margin-top: -300px;
}