#polaroid {
    transform: rotate(-10deg);
    width: 400px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.page-content {
    display: flex;
    /* height: 100%; */
    align-items: flex-end;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    /* width: 350px; */
    width: 1000px;
}

.btn-formatting {
    color: black;
    display: inline-flex;
    /* margin: -5px; */
    background-color: white;
    padding: 6px;
    border-radius: 3px;
    text-decoration: none !important;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    width: 155px;
    justify-content: center;
    border: 0px;
}

.btn-formatting:hover {
    background-color: #e4e4dd;
    cursor: pointer;
}


#main-content-about-me {
    /* height: 900px;  */
    width: 400px;
    /* margin-right: -75px; */
    padding: 10px;
    padding-top: 30px;
}

.personal-photo {
    padding: 5px;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: system-ui;
    background-image: url(../images/pelster_custom_background.png);
    background-size: 100%;
    width: 100%;
    border-radius: 5px;
}

#polaroid {
    transform: rotate(-10deg);
    width: 400px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.page-content {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}


/* .home-link {
    color: black;
    padding: 20px;
    display: block;
    text-align: center;
    text-decoration: underline;
    cursor: pointer;
} */

.personal-photo {
    padding: 5px;
}

.page-nav-ribbon{
    background-color: white;
    padding: 5px;
    border-radius: 3px;
    width: max-content;
}

.h1-style{
    font-weight: 400;
    letter-spacing: 1px;
    border-bottom: 1px solid black;
}

.h2-style{
    font-weight: 300;
    letter-spacing: 1px; 
}

.h3-style{
    font-weight: 200; 
    letter-spacing: 1px
}

.ul-style{
    font-family:system-ui;
    letter-spacing: 1px
}

.field-label{
    float:left;
    margin-top: 15px;
}

.field-input{
    float: right;
    border-radius: 3px;
    padding: 7px;
    margin: 10px;
    width: 200px;
    border: 1px solid white;
}

.field-row{
    border-bottom: 1px solid black;
}

#form-content{
    width: 550px;
    display: inline-grid;
    border-radius: 3px;
    background-color: #e3d9cb6e;
    padding: 20px;
}

#contact-content{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#user_message{
    max-width: 200px;
    height:fit-content;
    resize: vertical;
}

#submit-form-div{
    display: flex;
    justify-content: center;
    margin: 10px;
}

.form-error{
    float: right;
    padding: 15px;
}

#aboutMe-selfImage{
    margin-top: -300px;
}

.polaroid-words{
    margin-top:-5px; 
    margin-bottom:-5px
}

#polaroid-div{
    padding: 30px; 
    margin-right: 75px; 
    margin-bottom: 50px;
    margin-top: 25px;
}

#main-content-home{
    width: 400px;
    padding: 10px;
    padding-top: 30px;
    height: 600px; 
    margin-right: -75px
}